@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top{
    background-color: #eef1f3;
}
.header__top-inner{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__top-btn{
    margin-left: auto;
    margin-right: 50px;
    font-size: 14px;
    line-height: 28px;
}
.header__top-link{
    color: #fff;
    padding: 9px 18px;
    background-color: $blue;
    display: block;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.header__top-info{
    line-height: 22px;
}
.header__top-autor{
    font-weight: 500;
}
.header__top-price{
    color: $blue;
    font-size: 16px;
}
.header__menu-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}
.header__menu-items{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    & + li{
        margin-left: 30px;
    }
}
.header__menu-form{
    max-width: 360px;
    position: relative;
}
.header-input{
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 23px;
    padding-right: 75px;
    border: 1px solid #d9dfe5;
    border-radius: 20px;
    outline: none;
}
.header__menu-button{
    outline: none;
    position: absolute;
    border: none;
    background-color: $blue;
    right: 0;
    top: 0;
    padding: 13px 27px;
    border-radius: 20px;
    cursor: pointer;
}

// end header

// start product

.product{
    background: rgb(6,62,241);
    background: linear-gradient(90deg, rgba(6,62,241,1) 0%, rgba(17,29,160,1) 100%);
}
.product__inner{
    min-height: 725px;
    padding-top: 180px;
    padding-bottom: 180px;
    text-align: center;
    color: #fff;
    position: relative;
}
.product__sup-title{
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 5px;
}
.product__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 25px;
}
.product__sub-title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 60px;
}
.product__button-link{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 19px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        background-color: #fff;
        color: $blue;
    }
    & + a{
        margin-left: 25px;
    }
}

// start search

.product-box{
    width: 100%;
    background-color: #fff;
    min-height: 136px;
    position: absolute;
    bottom: -68px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    &::before,
    &::after{
        content: '';
        position: absolute;
        min-height: 30px;
        width: 100%;
        background-color: #fff;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: .5;
        border-radius: 6px;
    }
    &::before{
        top: -13px;
        max-width: 1113px;
    }
    &::after{
        top: -26px;
        max-width: 1080px;
    }
}
.search__form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 136px;
    width: 100%;
}
.product-box__form{
    width: 100%;
}
.product-box__input{
    max-width: 613px;
    width: 100%;
    min-height: 55px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #dcdcdc;
    padding-left: 28px;
    color: #676767;
    font-size: 16px;
}
.product-box__select{
    min-height: 55px;
    max-width: 195px;
    width: 100%;
    margin-left: -5px;
    margin-right: 30px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    padding: 0 14px;
    color: #676767;
    font-size: 16px;
}
.product-box__button{
    background-color: $blue;
    cursor: pointer;
    border: none;
    padding: 18px 65px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

// end search

// end product

// start services

.services{
    padding-top: 187px;
    padding-bottom: 120px;
}
.services__items{
    display: flex;
    justify-content: space-around;
}
.services__item{
    border-radius: 4px;
    max-width: 360px;
    text-align: center;
    padding: 40px 35px 50px;
    transition: all .3s;
    &:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}
.services__item-images{
    padding-bottom: 40px;
    min-height: 160px;
}
.services__item-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}
.services__item-text{
    width: 300px;
    font-size: 16px;
    line-height: 30px;
    color: $grey;
}
// end services

// start slider
.slider{
    background-color: $bg;
    padding: 120px 0;
}
.title{
    max-width: 100%;
    min-height: 110px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 50px;
    span{
        font-size: 30px;
        color: #000;
    }
}
.arrow{
    background-color: $purple;
    width: 110px;
    height: 45px;
    border: transparent;
    border-radius: 30px;
    position: relative;
}
.slider-arrows{
    height: 14px;
    width: 7px;
    position: absolute;
    top: -111px;
    right: 57px;
}
.slider-arrows__left{
    right: 107px;
}
.sldier__content{
     display: flex !important;
}
.slider__images{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 555px;
    width: 100%;
    min-height: 450px;
}
.slider__info{
    max-width: 585px;
    background-color: #fff;
    padding: 50px 50px 0 50px;
}
.slider__info-title{
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}
.slider__sub-info{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.slider__sub-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 7px;
}
.slider__sub-autor{
    color: #000;
    margin-right: 20px;
}
.slider__sub-cms{
    padding-left: 23px;
    position: relative;
    color: $purple;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background-image: url('../images/icons/slider-icon.svg');
    }
}
.slider__info-text{
    font-size: 16px;
    line-height: 30px;
    color: $grey;
    margin-bottom: 25px;
}
.slider__info-buttons{
    margin-bottom: 44px;
}
.slider__info-button{
    background-color: #f1f3f6;
    border: transparent;
    color: #868c96;
    padding: 7px 14px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    & + a{
        margin-left: 5px;
    }
}
.info__bottom{
    display: flex;
    align-items: center;
    min-height: 80px;
    border-top: 1px solid #ececec;
}
.info__bottom-price{
    color: #fff;
    font-weight: 500;
    padding: 8px 18px;
    background-color: $blue;
    margin-right: 20px;
    border-color: transparent;
    border-radius: 20px;
}
.info__bottom-like{
    margin-right: 20px;
    padding-left: 26px;
    color: $grey;
    position: relative;
    &::before{
        content: '\f08a';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        top: 0;
        color: $purple;
    }
}
.info__bottom-basket{
    padding-left: 24px;
    color: $blue;
    position: relative;
    &::before{
        content: "\f07a";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        top: 0;
        color: $blue;
    }
}
.link-rating{
    margin-left: auto;
}
// end slider


// start release
.release{
    background-color: #f6f7fb;
    padding: 115px 0 120px;
}
.release__title{
    margin-bottom: 30px;
}
.release__filter{
    padding-right: 30px;
    position: relative;
    &::after{
        content: '';
        top: 0;
        right: 0;
        position: absolute;
        cursor: pointer;
        width: 5px;
        height: 20px;
        background-image: url('../images/icons/Icon.png');
    }
}
.release__buttons{
    min-height: 95px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-left: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    .mixitup-control-active{
        background-color: $blue;
        font-weight: 500;
        color: #fff;
    }
}
.release-button{
    background-color: #f1f3f6;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #747b86;
    padding: 10px 20px;
    cursor: pointer;
    & + button{
        margin-left: 10px;
    }
}
.common-inner{
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.common__item{
    max-width: 360px !important;
    width: 100% !important;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.common__images{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 230px;
    border-radius: 4px 4px 0 0;
    &:hover .images__links{
        transition: all .3s;
        min-height: 230px;
        overflow: visabiliti;
    }
}
.images__links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
}
.images-link{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 17px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: all .3s;
    font-weight: 500;
    &:hover{
        background-color: #fff;
        color: $blue;
    }
    & + a{
        margin-left: 10px;
    }
}
.common__info-top{
    padding: 25px 38px 28px 30px;
}
.common__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 15px;
}
.common__author-info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.common-avatar{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}
.author__name{
    color: #000;
    margin-right: 20px;
}
.cms{
    padding-left: 25px;
    position: relative;
    color: $purple;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background-image: url('../images/icons/slider-icon.svg');
    }
}
.common-text{
    font-size: 16px;
    line-height: 30px;
    color: $grey;
}
.common__info-bottom{
    min-height: 62px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.price{
    color: $blue;
    background-color: #e6f1fd;
    font-weight: 500;
    padding: 7px 15px;
    margin-right: 12px;
    border-radius: 20px;
}
.like{
    padding-left: 22px;
    color: $grey;
    position: relative;
    &::before{
        content: '\f08a';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        top: 0;
        color: $purple;
    }
}
.basket{
    margin-left: auto;
    padding-left: 26px;
    color: $blue;
    position: relative;
    &::before{
        content: "\f07a";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        top: 0;
        color: $blue;
    }
}
.star-rating{
    margin-left: 15px;
}
.bottom__btn{
    text-align: center;
    .btn{
        background-color: $blue;
        outline: none;
        color: #fff;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        padding: 20px 37px;
    }
}
// end release

// start followers
.followers{
    padding: 120px 0;
    background-color: #eff1f5;
}
.followers-arrow{
    background-color: $blue;
}
// end followers


// start items
.items{
    padding: 95px 0;
    background-color: #212225;
}
.items__inner{
    display: flex;
    justify-content: space-between;
}
.item{
    max-width: 165px;
    width: 100%;
    text-align: center;
}
.item__value{
    padding-top: 93px;
    font-size: 36px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}
.item__value-one{
    color: #feb71d;
    &::before{
        content: '\e84c';
        position: absolute;
        font-family: 'Linearicons-Free';
        bottom: 81px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 48px;
    }
}
.item__value-two{
    color: #58c9e9;
    &::before{
        content: '\e80b';
        position: absolute;
        font-family: 'Linearicons-Free';
        bottom: 81px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 48px;
    }
}
.item__value-three{
    color: #77de51;
    &::before{
        content: '\e854';
        position: absolute;
        font-family: 'Linearicons-Free';
        bottom: 81px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 48px;
    }
}
.item__value-for{
    color: #ff6a6d;
    &::before{
        content: '\e82b';
        position: absolute;
        font-family: 'Linearicons-Free';
        bottom: 81px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 48px;
    }
}
.item__text{
    color: #fff;
    font-size: 18px;
}
// end items


// start choose
.choose{
    padding: 115px 0 90px;
}
.title-box{
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
    .text{
        color: $grey;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 45px;
    }
}
.title-box__title{
    color: #000;
    font-size: 36px;
    margin-bottom: 20px;
    span{
        color: $blue;
    }
}
.choose__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.choose__item{
    max-width: 360px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 31px 52px;
    position: relative;
    margin-bottom: 30px;
}
.choose__item-number{
    top: 20px;
    left: 20px;
    display: inline-block;
    font-weight: 300;
    font-size: 48px;
    color: #5c87f8;
    opacity: .1;
    position: absolute;
}
.choose__item-images{
    font-family: 'Linearicons-Free';
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 35px;
}
.lnr-license{
    color: $blue;
}
.lnr-magic-wand{
    color: #7f4ec2;
}
.lnr-lock{
    color: #77de51;
}
.lnr-chart-bars{
    color: feb71d;
}
.lnr-leaf{
    color: #58c9e9;
}
.lnr-phone{
    color: #ff6a6d;
}
.choose__item-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}
.choose__item-text{
    font-size: 16px;
    color: $grey;
    line-height: 30px;
}
// end choose


// start sell
.sell__inner{
    display: flex;
    justify-content: space-between;
}
.left-box,
.right-box{
    padding: 100px 0;
    width: 100%;
    border:transparent;
}
.left-box,
.right-box,
.box__images{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.left-box{
    background-image: url('../images/content/left-bg.jpg');  
}
.right-box{
    background-image: url('../images/content/right-bg.jpg');
}
.box-item{
    max-width: 590px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.box__images{
    margin: 0 auto;
    width: 120px;
    height: 100px;
    margin-bottom: 45px;
}
.box__images-right{
    width: 100px;
}
.box__title{
    margin-bottom: 20px;
    font-size: 36px;
}
.box__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 45px;
}
.box__button{
    font-size: 16px;
    padding: 20px 25px;
    border-radius: 27.5px;
    cursor: pointer;
    background-color: #fff;
    color: $blue;
}
.box__button-right{
    color: $purple;
}
// end


// start feedback
.feedback{
    padding: 115px 0 120px;
}
.feedback__inner{
    display: flex;
    justify-content: space-between;
}
.feedback-item{
    max-width: 555px;
    width: 100%;
    padding: 50px 38px;
    border-left: 2px solid $blue;
    border-radius: 0 4px 4px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 80px;
}
.feedback__info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.feedback__info-avatar{
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}
.author-name{
    font-size: 20px;
    color: #000;
    margin-bottom: 13px;
}
.author-specialty{
    font-size: 16px;
    color: $grey;
}
.author-icon{
    margin-left: auto;
}
.feedback__button{
    text-align: center;
}
.feedback__link{
    background-color: $blue;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    padding: 20px 34px;
}
// end feedback